In [1]:
import pandas as pd

In [2]:
data = pd.read_excel("d:/Programming/Python/Projects/Stock-Screener/NIFTY25JUN2010000PE.xlsx", parse_dates=[['Date', 'Time']])

In [3]:
#convert df index to DataTimeIndex
data.index = pd.to_datetime(data['Date_Time'] )

In [4]:
data.isnull().sum()

Date_Time    0
Ticker       0
Open         0
High         0
Low          0
Close        0
Volume       0
dtype: int64

In [5]:
data.head()

,Date_Time,Ticker,Open,High,Low,Close,Volume
Date_Time,,,,,,,
2020-05-29 09:15:00,2020-05-29 09:15:00,NIFTY25JUN2010000PE,653.15,662.1,649.90,662.1,1950
2020-05-29 09:16:00,2020-05-29 09:16:00,NIFTY25JUN2010000PE,662.10,662.1,643.35,650.0,3825
2020-05-29 09:17:00,2020-05-29 09:17:00,NIFTY25JUN2010000PE,650.00,656.0,650.00,650.0,450
2020-05-29 09:18:00,2020-05-29 09:18:00,NIFTY25JUN2010000PE,650.00,650.0,640.00,645.5,1275
2020-05-29 09:19:00,2020-05-29 09:19:00,NIFTY25JUN2010000PE,645.50,645.5,645.00,645.0,150

In [6]:
#downsample and aggregate
Resampled_Data = data.resample('15T').mean()

In [7]:
Resampled_Data.head(40)

,Open,High,Low,Close,Volume
Date_Time,,,,,
2020-05-29 09:15:00,650.996667,655.490000,647.703333,652.043333,905.000000
2020-05-29 09:30:00,673.543333,676.133333,671.226667,673.313333,365.000000
2020-05-29 09:45:00,671.460714,674.114286,668.564286,671.692857,862.500000
2020-05-29 10:00:00,651.678571,653.628571,647.778571,650.142857,1489.285714
2020-05-29 10:15:00,647.283333,649.143333,644.040000,646.660000,1250.000000
2020-05-29 10:30:00,631.283333,633.176667,627.796667,630.326667,1180.000000
2020-05-29 10:45:00,629.263333,631.970000,627.036667,629.936667,615.000000
2020-05-29 11:00:00,625.988462,627.561538,623.019231,624.876923,675.000000
2020-05-29 11:15:00,622.116667,624.055556,620.722222,622.122222,316.666667
2020-05-29 11:30:00,619.500000,622.345000,617.265000,620.405000,495.000000
2020-05-29 11:45:00,641.777273,644.786364,640.127273,643.363636,334.090909
2020-05-29 12:00:00,656.663636,658.968182,654.972727,656.800000,340.909091
2020-05-29 12:15:00,646.311111,648.177778,644.333333,646.311111,108.333333
2020-05-29 12:30:00,649.336364,651.222727,648.240909,649.700000,204.545455
2020-05-29 12:45:00,645.600000,646.112500,642.237500,642.681250,150.000000
2020-05-29 13:00:00,633.714286,637.935714,632.021429,636.242857,492.857143
2020-05-29 13:15:00,645.908333,647.233333,643.350000,644.700000,150.000000
2020-05-29 13:30:00,634.331250,636.331250,631.725000,633.018750,225.000000
2020-05-29 13:45:00,628.738462,630.573077,626.603846,629.007692,415.384615
2020-05-29 14:00:00,611.957143,613.550000,607.960714,609.664286,567.857143
2020-05-29 14:15:00,610.670833,614.704167,608.775000,612.983333,618.750000
2020-05-29 14:30:00,617.207692,618.465385,614.034615,615.603846,375.000000
2020-05-29 14:45:00,604.023077,605.280769,601.550000,603.438462,900.000000
2020-05-29 15:00:00,584.370000,585.930000,580.926667,582.993333,1240.000000
2020-05-29 15:15:00,586.256667,588.373333,584.990000,587.336667,1785.000000
2020-05-29 15:30:00,NaN,NaN,NaN,NaN,NaN
2020-05-29 15:45:00,NaN,NaN,NaN,NaN,NaN
2020-05-29 16:00:00,NaN,NaN,NaN,NaN,NaN
2020-05-29 16:15:00,NaN,NaN,NaN,NaN,NaN
2020-05-29 16:30:00,NaN,NaN,NaN,NaN,NaN
2020-05-29 16:45:00,NaN,NaN,NaN,NaN,NaN
2020-05-29 17:00:00,NaN,NaN,NaN,NaN,NaN
2020-05-29 17:15:00,NaN,NaN,NaN,NaN,NaN
2020-05-29 17:30:00,NaN,NaN,NaN,NaN,NaN
2020-05-29 17:45:00,NaN,NaN,NaN,NaN,NaN
2020-05-29 18:00:00,NaN,NaN,NaN,NaN,NaN
2020-05-29 18:15:00,NaN,NaN,NaN,NaN,NaN
2020-05-29 18:30:00,NaN,NaN,NaN,NaN,NaN
2020-05-29 18:45:00,NaN,NaN,NaN,NaN,NaN
2020-05-29 19:00:00,NaN,NaN,NaN,NaN,NaN

### Resampling Successful!!
Getting NaN values for the rows missing in default sheet.